name: release-platformio

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ${{ matrix.os }}-latest
    # strategy:
    #   fail-fast: false
    #   matrix:
    #     os: [ubuntu, macos, windows]
    #     python: [3.5, 3.6, 3.7, 3.8]
    steps:
        - uses: actions/checkout@v2
        - name: Set up Python
          uses: actions/setup-python@master
          with:
            python-version: ${{ matrix.3.7 }}
        
        - name: Release Platformio
          run: |
            python -m pip install pyinstaller
            python release.py
